<h2>Build a New Todo Items</h2>

<div class="forms">
<%= render 'form' %>
 </div>

 <div class="links">
	 <%= link_to 'Back', todo_list_todo_items_path(params[:todo_list_id]) %>
	 <%= link_to 'Home', 
 </div> 